<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Boby:</strong>
  <%= @book.body %>
</p>

<tr>
  <td><%= link_to "Edit", edit_book_path(@book) %></td>
  <td><%= link_to "Back", books_path %></td>
</tr>